.half-main-container{
    @apply flex w-[50%] justify-center h-screen items-center flex-col 
}
.half-main-container{
    opacity: 0; // Initially hidden
  transform: translateX(100%); // Initially off-screen to the left
  animation: slide-in 1s ease forwards; // Slide-in animation
}
@keyframes slide-in {
    to {
      transform: translateX(0); // Move to the original position
      opacity: 1; // Fade in as it moves
    }
  }


  .half-main-container-2{
    @apply flex w-[50%] justify-center h-screen items-center flex-col 
}
.half-main-container-2{
    opacity: 0; // Initially hidden
  transform: translateX(-100%); // Initially off-screen to the left
  animation: slide-in 1s ease forwards; // Slide-in animation
}
@keyframes slide-in {
    to {
      transform: translateX(0); // Move to the original position
      opacity: 1; // Fade in as it moves
    }
  }

.login-nav{
    @apply absolute top-10 left-10 font-poppins_semibold text-xl
}
.login-hero{
    @apply w-full h-screen object-fill
}
.login-left-arrow{
    @apply absolute top-20 left-10
}
.login-heading{
    @apply font-poppins_semibold text-3xl h-[30%] flex justify-center items-center
}